
<% content_for :meta_title, "#{@exhibition.title} - #{DEFAULT_META["meta_product_name"]}"  %>
<% content_for :meta_description, @exhibition.lead_text %>

<% if @exhibition.photo.attached?  %>
  <% content_for :meta_image, cl_image_path(@exhibition.photo.key, :transformation => { :width => 1200, :height => 630, :fetch_format=>:auto, :crop => :scale }) %>
<% end %>
<div>
  <div class="cover-picture">
    <% if @exhibition.photo.attached?  %>
    <%= cl_image_tag @exhibition.photo.key, :transformation => { :width => 375, :fetch_format=>:auto, :crop => :scale }%>
    <% end %>
  </div>
    <div class="main-card-visit background-white" >
      <div class=" text-center title-visit">
        <h3><%= @exhibition.title %></h3>
         <hr class="card-separator">
      </div>
      <div class="d-flex mt-2 ">
        <div class = "details-visit flex-column px-2 col-8 share-join-column">
          <div>
          <p><i class="fa ffar fa-clock"> </i> <%=fr_jour_short(@visit.date.cwday)%> <%= @visit.date.mday%> <%=fr_month_short(@visit.date.mon)%> <%= @visit.meeting_hour.hour %>H<%= @visit.meeting_hour.min%>  </p>

          <%= link_to "http://citymapper.com/directions?startcoord=48.877932,2.3417265&endcoord=#{@lat},#{@long}&endname=#{@exhibition.title}&endaddress=#{@exhibition.full_address}", data: { url:"http://citymapper.com/directions?startcoord={USER_LATLONG}&endcoord=#{@lat},#{@long}&endname=#{@exhibition.title}&endaddress=#{@exhibition.full_address}" } , class: "citymapper-url" do %><i class="fas fa-map-marker-alt"></i> <%= @exhibition.address_street+"," %> <%= @exhibition.address_city %><% end %>
          </div>
          <div class="card-visit-content px-2">
            <div class="mini-avatars">
              <% if @visit.subscriptions.count <= 3 %>
                <% @visit.subscriptions.each do |subscription| %>
                  <span class="mini-avatar"><%=  image_tag(User.find(subscription.user_id).avatar) %></span>
                <% end %>
              <% else %>
                <% @visit.subscriptions.sample(3).each do |subscription| %>
                  <span class="mini-avatar"><%=  image_tag(User.find(subscription.user_id).avatar)%> +<%= @visit.subscriptions.count - 3%> </span>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class = "share-join-column d-flex flex-column col-4 justify-content-between ">
          <div class = "d-flex justify-content-between">
            <div>
                <%= link_to "whatsapp://send?text=#{request.original_url}" do %>
                  <i class="fab fa-whatsapp icone-share green-whatsapp "> </i>
                <% end %>
            </div>
            <div>
               <%= link_to "https://www.facebook.com/sharer.php?u=#{request.original_url}" do %>
                <i class="fab fa-facebook-square icone-share blue-facebook "></i>
              <% end %>
            </div>
            <div>
              <%= link_to visit_path do %>
                <i class="fab fa-twitter icone-share blue-twitter"></i>
              <% end %>
            </div>
          </div>
          <%if @sub %>
            <div class = "text-center btn-primary">
              <%= link_to "Quitter",visit_subscription_path(@visit, @sub), method: :delete %>
            </div>
          <% else %>
            <div class = "text-center btn-primary">
              <%= link_to "Rejoindre",visit_subscriptions_path(@visit), method: :post %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class= "information-visit background-white px-2">
      <div>
        <p><%= @visit.information %></p>
      </div>
    </div>




  <div class= "past-messages ">
      <div id="messages" data-visit-id="<%= @visit.id %>">
        <% @visit.messages.each do |message| %>
        <%= render partial:'messages/message', locals: { message: message } %>
        <% end %>
      </div>
    </div>

  <%if user_signed_in? && @subscriptions.where(user_id: @current_user.id).first%>
      <div class= "message-creation sticky-bottom">
        <%= simple_form_for [ @visit, @message ] do |f| %>
          <div class='d-flex'>
            <div class="flex-grow-1 ">
              <%= f.input :content, label: false, placeholder: "Participer à la conversation..." %>
            </div>
            <div>
              <%= f.button :submit, 'Envoyer', class: 'btn-primary py-3' %>
            </div>
          </div>
        <% end %>
      </div>
  <% end %>


</div>
