<%= render 'shared/map' %>

<%= render 'shared/scrolling-cards' %>
<div class="carrousel-items">
  <% @exhibitions.each do |exhibition| %>
    <%= link_to exhibition_path(exhibition) do  %>
      <div class="carrousel-item">
        <div class="card_exhibition">
          <div class="carrousel-img">
            <% if exhibition.photo.attached?  %>
              <%= cl_image_tag exhibition.photo.key, height: 200, width: 360, crop: :fill %>
            <% end %>
          </div>
          <h1><%= exhibition.title %></h1>
          <P class="star"> * * * * 4.5 </p>
          <P class="category"><%= exhibition.category %></p>
          <P class="lead_text"><%= exhibition.lead_text %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


