<%= render 'shared/map' %>
<%= render 'shared/search-form', filters: @categories %>
<%#= render 'shared/scrolling-cards' %>


<hr class="card-separator mt-0">
<div class="container_card">
  <div class="exhibitions-items">
    <% @exhibitions.each do |exhibition| %>
      <%= link_to exhibition_path(exhibition) do  %>
        <div class="card_exhibition">
            <div class="card-img">
              <% if exhibition.photo.attached?  %>
                <%= cl_image_tag exhibition.photo.key, height: 180, width: 350, crop: :fill %>
              <% end %>
              <% if exhibition.opened?(Time.current) %>
                <div class="open-tag" id="open-tag-index"> Ouvert</div>
              <% end %>
            </div>
            <% if exhibition.last_days? %>
              <div class="overlay_tag">Derniers jours </div>
            <% end %>
            <% if exhibition.upcoming? && !exhibition.last_days? %>
              <div class="overlay_tag" id="upcoming">Bientôt</div>
            <% end %>
              <h1><%= exhibition.title %></h1>
              <div class="d-flex justify-content-between align-items-center pr-3">
                <% if exhibition.average_rating %>
                  <div class="star">
                    <% exhibition.average_rating.round.times do  %>
                      <i class="fas fa-star" id="stars"></i>
                    <% end %>
                    <% (5 - exhibition.average_rating.round).times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                <% else %>
                    <% 5.times do %>
                      <i class="far fa-star"></i>
                    <% end %>
                <% end %>
                  </div>
                  <div class="img_marker2">
                      <i class="fas fa-map-marker-alt"> <%= @distanceExWithUnit[exhibition.id] %></i>
                  </div>
              </div>
              <p class="address-name"><%= exhibition.address_name %></p>
            <p><%= exhibition.lead_text %></p>
          </div>
       <% end %>
    <% end %>
  </div>
</div>


