<%= render 'shared/map' %>
<%= render 'shared/search-form', tags: @tags %>


<%#= render 'shared/scrolling-cards' %>
<div class="nico-cards">
  <div class="carrousel-items justify-content-around">
    <% @exhibitions.each do |exhibition| %>
      <%= link_to exhibition_path(exhibition) do  %>
        <div class="carrousel-item">
          <div class="card_exhibition">
            <div class="carrousel-img">
              <% if exhibition.photo.attached?  %>
                <%= cl_image_tag exhibition.photo.key, height: 180, width: 300, crop: :fill %>
              <% end %>
            </div>
              <h1><%= exhibition.title %></h1>
              <div class="container">
                <div class="star"> * * * * 4.5
                </div>
                  <div class="img_marker2">
                      <i class="fas fa-map-marker-alt">200 m</i>
                  </div>
              </div>
            <P><%= exhibition.lead_text %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>


