
<div class="main-container">
  <div class="cover-picture">
    <% if @exhibition.photo.attached?  %>
      <%= cl_image_tag @exhibition.photo.key, :transformation => { :width => 375, :fetch_format=>:auto, :crop => :scale }%>
    <% end %>
    <div class="heart-button row">
      <div class="heart">
        <i class="fas fa-heart pr-1"></i>
      </div>
      <span>Enregistrer</span>
    </div>
  </div>

  <div class="below-cover-picure-container">
    <h3 class="text-center"><%= @exhibition.title  %></h3>
    <hr class="card-separator">
    <% @average_rating.to_i.times do  %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <%= @average_rating %>
    <p><%= @exhibition.lead_text %></p>
    <div class="show-section">
      <div class="section-title">
        <h6>Infos pratiques</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none" id="infos-pratiques">
        <p><i class="fas fa-map-marker-alt"></i><%= @exhibition.address_street %></p>
        <p><i class="fas fa-euro-sign"></i><%= @exhibition.price_detail %></p>
        <p><i class="far fa-calendar-check"></i><%=@exhibition.date_description.html_safe %></p>
      </div>
    </div>
    <div class="show-section">
      <div class="section-title">
        <h6>Les visites à venir</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none">
        <p class="">Cette expo vous intéresse? <br>N'y allez pas seul !<br>Rejoignez une visite ou créer en une.</p>
          <div class= "cards-visit">
            <% @visits.each do |visit|%>
                <div class="card-visit">
                  <div class="card-visit-date">
                    <span class="day-of-month"><%= visit.date.mday %></span>
                    <span class="month"><%= fr_month_short(visit.date.mon) %></span>
                    <span class="day-of-week"><%= fr_jour_short(visit.date.cwday) %></span>
                  </div>
                  <div class="card-visit-content">
                    <span class="visit-hour">18h00</span>
                    <span class ="user-count"><%= visit.subscriptions.count %> utilisateurs y vont</span>
                    <% visit.subscriptions.each do |subscription| %>
                      <%= User.find(subscription.user_id).username %>
                    <% end %>
                  </div>
                  <div class="card-visit-join">
                    <%= link_to visit_path(id: visit.id) do %>
                      <button class="btn-action-visit"></i> Rejoindre</button>
                    <% end %>
                  </div>
                </div>
                <hr class="card-separator">
            <% end %>
          </div>
        <div class="text-center">
          <%= link_to new_exhibition_visit_path(@exhibition) do  %>
            <button class="btn-primary"> Créer un rendez-vous!</button>
          <% end %>
        </div>
      </div>

    </div>
    <div class="show-section">
      <div class="section-title" >
        <h6>Détails</h6>
      </div>
        <div class="description"><%= @exhibition.description.html_safe %></div>
        <p class="extend-text">Lire plus <i class="fas fa-chevron-right"></i></p>
    </div>
    <div class="show-section">
      <div class="section-title">
        <h6>Avis</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none">
        <% @participations.each do |participation|%>
          <%= participation.review_content %>
        <% end %>
      </div>
    </div>


    <p>Vous êtes allez à l'expo ? Partagez votre avis avec la communauté</p>
    <div class="text-center">
      <button class="btn-primary">Laisser un avis</button>
    </div>
  </div>
</div>





