
<div class="main-container">
  <div class="cover-picture">
    <% if @exhibition.photo.attached?  %>
      <%= cl_image_tag @exhibition.photo.key, :transformation => { :width => 375, :fetch_format=>:auto, :crop => :scale }%>
    <% end %>
    <div class="heart-button row">
      <div class="heart">
          <%= link_to like_exhibition_path(@exhibition), class: "#{'red' if current_user.likes.find_by(exhibition_id: @exhibition.id)}" do %>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="below-cover-picure-container">
    <h3 class="text-center"><%= @exhibition.title  %></h3>
    <hr class="card-separator">
    <div class="ratings pl-2">
      <p class="mb-1"><%= @exhibition.address_name %></p>
      <% @exhibition.average_rating.round.times do  %>
        <i class="fas fa-star" id="stars"></i>
      <% end %>
      <% (5 - @exhibition.average_rating.round).times do %>
        <i class="far fa-star"></i>
      <% end %>
      <span><%= "(#{@exhibition.ratings_count})" %></span>
    </div>
    <p id="lead-text"><%= @exhibition.lead_text %></p>
    <div class="show-section">
      <div class="section-title">
        <h6>Infos pratiques</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none" id="infos-pratiques">
        <p><i class="fas fa-map-marker-alt"></i><%= "#{@exhibition.address_street}, #{@exhibition.address_city}, #{@exhibition.address_zipcode}" %></p>
        <p><i class="fas fa-euro-sign"></i><%= @exhibition.price_detail %></p>
        <p><i class="far fa-calendar-check"></i><%=@exhibition.date_description.html_safe %></p>
      </div>
    </div>
    <div class="show-section">
      <div class="section-title">
        <h6>Les visites à venir</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none pl-2">
        <p class="">Cette expo vous intéresse? <br>N'y allez pas seul !</p>
          <div class= "cards-visit">
            <% @visits.each do |visit|%>
              <%= link_to visit_path(id: visit.id) do %>
                <div class="card-visit">
                  <div class="card-visit-date">
                    <span class="day-of-month"><%= visit.date.mday %></span>
                    <span class="month"><%= fr_month_short(visit.date.mon) %></span>
                    <span class="day-of-week"><%= fr_jour_short(visit.date.cwday) %></span>
                  </div>
                  <div class="card-visit-hour">
                    <p class="visit-hour"><%= visit.meeting_hour.hour %>H<%= visit.meeting_hour.min %></p>
                  </div>
                  <div class="card-visit-content">
                    <div class="mini-avatars">
                      <% if visit.subscriptions.count <= 3 %>
                        <% visit.subscriptions.each do |subscription| %>
                          <span class="mini-avatar"><%=  image_tag(subscription.user.avatar) %></span>
                          <% end %>
                      <% else %>
                          <% visit.subscriptions.sample(3).each do |subscription| %>
                          <span class="mini-avatar"><%=  image_tag(subscription.user.avatar) %></span>
                        <% end %>
                      <% end %>
                    </div>
                      <span class =""><%= visit.subscriptions.count %> utilisateurs y vont</span>
              <% end %>
                  </div>
                </div>
                <hr class="card-separator">
            <% end %>
          </div>
        <div class="text-center">
          <%= link_to new_exhibition_visit_path(@exhibition) do  %>
            <button class="btn-primary"> Créer un rendez-vous!</button>
          <% end %>
        </div>
      </div>

    </div>
    <div class="show-section">
      <div class="section-title" >
        <h6>Détails</h6>
      </div>
        <div class="description"><%= @exhibition.description.html_safe %></div>
          <p class="extend-text">Lire plus <i class="fas fa-chevron-right"></i></p>
    </div>
    <div class="show-section">
      <div class="section-title">
        <h6>Avis</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none" id="avis">
        <% @participations.each do |participation|%>
        <div class="card-avis">
          <p class="avatar"><%=  image_tag(participation.user.avatar) %></p>
          <div class="review">
            <!-- <span><%= participation.rating %></span> -->
            <% participation.rating.round.times do  %>
              <i class="fas fa-star" id="stars"></i>
            <% end %>
            <% (5 - participation.rating.round).times do %>
              <i class="far fa-star"></i>
            <% end %>
            <span><%= participation.review_content %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>


    <p>Vous êtes allez à l'expo ? Partagez votre avis avec la communauté</p>
    <div class="text-center">
      <%= link_to new_exhibition_participation_path(@exhibition) do  %>
        <button class="btn-primary">Laisser un avis</button>
      <% end %>
    </div>
  </div>

</div>
