
<div class="main-container">
<%# if @exhibition.photo.attached?  %>
  <%#= cl_image_tag @exhibition.photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>
  <div class="cover-picture">
    <div class="heart">
      <i class="fas fa-heart"></i>
    </div>
  </div>

  <div class="below-cover-picure-container">
    <h3><%= @exhibition.title  %></h3>


    <% @average_rating.to_i.times do  %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <%= @average_rating %>
    <p><%= @exhibition.lead_text %></p>
    <div class="show-section">
      <div class="section-title">
        <h6>Infos pratiques</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none" id="infos-pratiques">
        <p>Où:<%= @exhibition.address_street %></p>
        <p>Combien :<%= @exhibition.price_detail %></p>
        <p>Quand :<%= @exhibition.date_description %></p>
      </div>
    </div>
    <div class="show-section">
      <div class="section-title" >
        <h6>Résumé</h6>
      </div>
        <p class="description"><%= @exhibition.description %></p>
        <p class="extend-text">Lire plus <i class="fas fa-chevron-right"></i></p>
    </div>
    <div class="show-section">
      <div class="section-title">
        <h6>Les visites à venir</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none">
        <% @visits.each do |visit|%>
          <%= visit.information %>
        <% end %>
      </div>
    </div>
    <p>Intéressé,faites le savoir en créant un rendez vous!</p>
    <button class="btn-primary">J'y vais</button>
    <div class="show-section">
      <div class="section-title">
        <h6>Avis</h6>
        <div class="chevron">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <div class="section-content d-none">
        <% @participations.each do |participation|%>
          <%= participation.review_content %>
        <% end %>
      </div>
    </div>


    <p>Vous êtes allez à l'expo, partagez votre avis avec la communauté</p>
    <button class="btn-primary">Laisser un avis</button>
  </div>
</div>

<div>
  <ul>
    <% @visits.each do |visit|%>
      <%= link_to "#{@exhibition.title} - #{visit.date}", visit_path(id: visit.id)  %>
    <% end %>
  </ul>
</div>

<p>Intéressé,faites le savoir en créant un rendez vous!</p>
<button class="btn-primary">J'y vais</button>


