
<h5>Mes expos enregistrées</h5>
<% @exhibitions.each do |exhibition| %>
<%= link_to exhibition_path(exhibition) do  %>
  <div class="card_exhibition">
    <div class="card-img">
      <% if exhibition.photo.attached?  %>
        <%= cl_image_tag exhibition.photo.key, height: 180, width: 350, crop: :fill %>
      <% end %>
    </div>
    <div class="heart-button row">
      <div class="heart">
        <%= link_to like_exhibition_path(exhibition), class: "#{'red' if current_user.likes.find_by(exhibition_id: exhibition.id)}" do %>
          <i class="fas fa-heart"></i>
        <% end %>
      </div>
    </div>
        <% if exhibition.last_days? %>
          <div class="overlay_tag">Derniers jours </div>
        <% end %>
        <% if exhibition.upcoming? && !exhibition.last_days? %>
          <div class="overlay_tag" id="upcoming">Bientôt</div>
        <% end %>
        <h1><%= exhibition.title %></h1>
          <div class="container">
            <% if exhibition.average_rating %>
              <div class="star">
                <% exhibition.average_rating.round.times do  %>
                  <i class="fas fa-star" id="stars"></i>
                <% end %>
              <% (5 - exhibition.average_rating.round).times do %>
                <i class="far fa-star"></i>
              <% end %>
             </div>
            <% end %>
          </div>
          <p class="address-name"><%= exhibition.address_name %></p>
          <p><%= exhibition.lead_text %></p>
    </div>
<% end %>
<% end %>

<h5>Mes visites</h5>
<div class= "cards-visit">
  <% @visits.each do |visit|%>
    <%= link_to visit_path(id: visit.id) do %>
      <div class="card-visit-likes">
          <div class="card-visit-img">
            <% if visit.exhibition.photo.attached?  %>
              <%= cl_image_tag visit.exhibition.photo.key %>
            <% end %>
          </div>
          <div class="card-visit-content">
            <span><%= "#{visit.date.mday} #{fr_month_short(visit.date.mon)} #{visit.meeting_hour.hour}h" %></span>
              <div class="mini-avatars-likes">
                <% if visit.subscriptions.count <= 3 %>
                  <% visit.subscriptions.each do |subscription| %>
                    <span class="mini-avatar"><%=  image_tag(subscription.user.avatar) %></span>
                  <% end %>
                <% else %>
                  <% visit.subscriptions.sample(3).each do |subscription| %>
                    <span class="mini-avatar"><%=  image_tag(subscription.user.avatar) %></span>
                  <% end %>
                <% end %>
              </div>
            </div>
              <div class="card-exhibition-visit">
                  <p><%= visit.exhibition.title.truncate(40) %></p>
              </div>
      </div>
</div>
  <% end %>
<% end %>
