<div class="nav-bar">
  <div class="navbar-left d-flex justify-content-around">
    <div class="nav-bar-collapse">
      <ul class="navbar-nav list-group-horizontal">
        <li class="nav-item active">
        </li>
        <li class="nav-item">
          <div class="btn-group">
            <button type="button" class="list-group-item mx-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- test burger to X moving-->
              <div class="nav-icon">
                <div class="burger-menu">
                </div>
              </div>
            </button>
            <div class="dropdown-menu">
              <%= link_to "menu1", "#", class: "btn btn-empty mx-1 list-group-item btn-navbar" %>
                <a class="dropdown-item" href="/user">Mon Profile</a>
                <a class="dropdown-item" href="/likes">Mes Likes <i class="fas fa-heart" style="color: red;"></i></a>
                <a class="dropdown-item" href="/users/edit">Mon Combat 🚀</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/sign_out" data-method= "delete">Log Out</a>
              </div>
            </div>
        </li>
      </ul>
    </div>
  </div>

<!-- logo start -->
  <div class="navbar navbar-center navbar-expand-sm d-flex flex-column justify-content-around">
    <div class="moving-letters pt-1 flex-start" type="submit">
      <%= link_to root_path do %>
        <h1 class="pb-4" style="font-size: 32px">
          <span class="text-wrapper">
            <span class="letters">Proxim'Art</span>
            <span class="line"></span>
          </span>
        </h1>
      <% end %>
    </div>
  </div>

<!-- avatar -->
  <div class="navbar-right avatar">
    <% #raise %>
    <% if user_signed_in?  %>
      <%= image_tag current_user.avatar , class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
  </div>
<!--  -->


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

