<div class="container-search-bar">
  <%= simple_form_for :search, id:"search-form", url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group simple_form search d-none">
      <input class="form-control string required hidden " type="text" name="search[query]" id="search_query" placeholder="Picasso..." />
      <button name="button" type="submit" class="btn btn-full">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="text-center"> Expositions à moins de:</div>
    <div style="position:relative;width:50%; margin: 0 auto ">
        <span style="position:absolute">
        <span id="myValue"></span>
        </span>
        <div class="slide-distance-container" style="">
            <input type="range" min="1" class="slider text-center" max="10" name="distanceRange" id="distanceRange" value= <%= @maxdistance %> >
        </div>
     </div>
    </div>
        <script type="text/javascript" charset="utf-8">
      var myRange = document.querySelector('#distanceRange');
      var myValue = document.querySelector('#myValue');
      var myUnits = 'km';
      var off = myRange.offsetWidth / (parseInt(myRange.max) - parseInt(myRange.min));
      var px =  ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetParent.offsetWidth / 2);

        myValue.parentElement.style.left = px + 'px';
        myValue.parentElement.style.top = myRange.offsetHeight*1.8 + 'px';
        myValue.innerHTML = myRange.value + ' ' + myUnits;

        myRange.oninput =function(){
          let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2);
          myValue.innerHTML = myRange.value + ' ' + myUnits;
          myValue.parentElement.style.left = px + 'px';
        };
        </script>
    </div>
      <%= f.hidden_field :lat, id: "setlat"  %>
      <%= f.hidden_field :long, id: "setlong"%>
      <br>
      <div class="search-middle">
        <div class="btn btn-empty">
          <!-- <input type="checkbox" name="Ouvert maintenant" id="select_now" checked> -->
          <% if params[:search] %>
            <%= f.input :opened,
                        as: :boolean,
                        input_html: { checked: params[:search][:opened] == '1' ? true : false },
                        label: params[:search][:opened] == '1' ? 'Ouvert maintenant' : 'Toutes les expositions' %>
          <% else %>
            <%= f.input :opened, as: :boolean, input_html: { checked: true }, label: 'Ouvert maintenant' %>
          <% end %>
 <!--          <label for="select_now">Ouvert maintenant</label> -->
        </div>


      </div>
      <div class="search-bottom">
        <div class="select-tags">
          <input type="hidden" name="post[categories][]" value="">
          <div class="tag-choices">
            <button type="button" class="btn btn-empty" data-toggle="modal" data-target="#exampleModal">
              Catégories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content tag-choices">

      <div class="modal-body tags-menu">
          <% filters.each_with_index do |tag, index| %>
            <input type="checkbox" value="<%= tag %>" name="filter[tags][]" id="post_tags_<%= index %>">
            <label class="tag-choice" for="post_tags_<%= index %>"><%= tag %></label>
          <% end %>

      </div>
    </div>
  </div>
</div>
