<div class="container-search-bar">
  <%= simple_form_for :search, id:"search-form", url: root_path, method: :get do |f| %>

    <div class="search-form-control form-group simple_form search d-none">
      <input class="form-control string required hidden d-none" type="text" name="search[query]" id="search_query" placeholder="Picasso..." />
      <button name="button" type="submit" class="btn btn-full">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <div class="select-distance">
        <div class="d-flex justify-content-center my-4">
          <label for="customRange1"></label>
          <span class="font-weight-bold indigo-text mr-2 mt-1 ">500m</span>
          <input type="range" class="custom-range" min="500" max="10000" step="500" id="customRange1" slider-tooltip ="always" range-orientation="vertical" tooltip_position="bottom" name="distanceRange" value= <%= @maxdistance*1000 %>>
          <span class="font-weight-bold indigo-text ml-2 mt-1">10km</span>
        </div>
      </div>
    </div>
      <%= f.hidden_field :lat, id: "setlat"  %>
      <%= f.hidden_field :long, id: "setlong"%>
      <div class="search-middle">
        <div class="btn btn-empty">
          <!-- <input type="checkbox" name="Ouvert maintenant" id="select_now" checked> -->
          <% if params[:search] %>
            <%= f.input :opened,
                        as: :boolean,
                        input_html: { checked: params[:search][:opened] == '1' ? true : false },
                        label: params[:search][:opened] == '1' ? 'Ouvert maintenant' : 'Toutes les expositions' %>
          <% else %>
            <%= f.input :opened, as: :boolean, input_html: { checked: true }, label: 'Ouvert maintenant' %>
          <% end %>
 <!--          <label for="select_now">Ouvert maintenant</label> -->
        </div>


      </div>
      <div class="search-bottom">
        <div class="select-tags">
          <input type="hidden" name="post[categories][]" value="">
          <div class="tag-choices">
            <button type="button" class="btn btn-empty" data-toggle="modal" data-target="#exampleModal">
              Catégories
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content tag-choices">

      <div class="modal-body tags-menu">
          <% filters.each_with_index do |tag, index| %>
            <input type="checkbox" value="<%= tag %>" name="filter[tags][]" id="post_tags_<%= index %>">
            <label class="tag-choice" for="post_tags_<%= index %>"><%= tag %></label>
          <% end %>

      </div>
    </div>
  </div>
</div>
